/* .container {
  align-items: center;
  margin: 200px 200px;
  color:#fff;
  background: 000000;
  background-image: url("./../Assets/404.png");
  background-repeat: no-repeat;
} */

/*Ytf is it applied for every page??? Commented for now*/